# 1.  Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

In [ ]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
tag=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//td')

In [23]:
rank=[]
name=[]
artist=[]
views=[]
upload_date=[]

for i in range(0,30):
    rank.append(tag[6*i].text)
    str=tag[6*i+1].text
    name.append(str[:-4])
    artist.append(tag[6*i+2].text)
    views.append(tag[6*i+3].text)
    upload_date.append(tag[6*i+4].text)
Data=pd.DataFrame({'Rank':(rank),
                  'Name':(name),
                  'Artist':(artist),
                  'Views (billions)':(views),
                  'Upload Date':(upload_date)})
Data

,Rank,Name,Artist,Views (billions),Upload Date
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,9.06,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi,7.47,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,5.60,"October 8, 2016"
3,4.,"""Shape of You""",Ed Sheeran,5.40,"January 30, 2017"
4,5.,"""See You Again""",Wiz Khalifa,5.20,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.45,"January 31, 2012"
6,7.,"""Bath Song""",Cocomelon – Nursery Rhymes,4.39,"May 2, 2018"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.35,"February 27, 2018"
8,9.,"""Uptown Funk""",Mark Ronson,4.25,"November 19, 2014"
9,10.,"""Gangnam Style""",Psy,4.14,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""",ChuChu TV,4.04,"March 6, 2014"
11,12.,"""Sugar""",Maroon 5,3.52,"January 14, 2015"
12,13.,"""Dame Tu Cosita""",El Chombo,3.49,"April 5, 2018"
13,14.,"""Sorry""",Justin Bieber,3.45,"October 22, 2015"
14,15.,"""Roar""",Katy Perry,3.40,"September 5, 2013"
15,16.,"""Counting Stars""",OneRepublic,3.35,"May 31, 2013"
16,17.,"""Thinking Out Loud""",Ed Sheeran,3.30,"October 7, 2014"
17,18.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,3.20,"May 24, 2018"
18,19.,"""Dark Horse""",Katy Perry,3.11,"February 20, 2014"
19,20.,"""Faded""",Alan Walker,3.11,"December 3, 2015"
20,21.,"""Girls Like You""",Maroon 5,3.08,"May 31, 2018"
21,22.,"""Shake It Off""",Taylor Swift,3.08,"August 18, 2014"
22,23.,"""Lean On""",Major Lazer,3.07,"March 22, 2015"
23,24.,"""Bailando""",Enrique Iglesias,3.07,"April 11, 2014"
24,25.,"""Let Her Go""",Passenger,3.04,"July 25, 2012"
25,26.,"""Mi Gente""",J Balvin,2.95,"June 29, 2017"
26,27.,"""Perfect""",Ed Sheeran,2.91,"November 9, 2017"
27,28.,"""Axel F""",Crazy Frog,2.91,"June 16, 2009"
28,29.,"""Waka Waka (This Time for Africa)""",Shakira,2.90,"June 4, 2010"
29,30.,"""Hello""",Adele,2.86,"October 22, 2015"

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.

In [24]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.bcci.tv')

In [35]:
international=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
international.click()
fixtures=driver.find_element_by_xpath('//a[@class="navigation__link navigation__link--in-drop-down"]')
fixtures.click()

In [64]:
title_tag=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
series_tag=driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]')
location=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]//span')
date_tag=driver.find_elements_by_xpath('//span[@class="fixture__date"]')
month_tag=driver.find_elements_by_xpath('//span[@class="fixture__month"]')
time_tag=driver.find_elements_by_xpath('//span[@class="fixture__time"]')

In [75]:
title=[]
series=[]
place=[]
date=[]
time=[]
for i in range(0,len(title_tag)):
    title.append(title_tag[i].text)
    series.append(series_tag[i].text.replace('\n',' '))
    place.append(location[i].text)
    date.append(date_tag[i].text+" "+month_tag[i].text)
    time.append(time_tag[i].text)
    
Data=pd.DataFrame({'Match Title':(title),
                  'Series':(series),
                  'Place':(place),
                  'Date':(date),
                  'Time':(time)})
Data

,Match Title,Series,Place,Date,Time
0,1st Test,TEST ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04 AUGUST,15:30 IST
1,2nd Test,TEST ENGLAND V INDIA 2021,"Lord's, London",12 AUGUST,15:30 IST
2,3rd Test,TEST ENGLAND V INDIA 2021,"Headingley, Leeds",25 AUGUST,15:30 IST
3,4th Test,TEST ENGLAND V INDIA 2021,"The Oval, London",02 SEPTEMBER,15:30 IST
4,5th Test,TEST ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST

# 3.  Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/

In [78]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.guru99.com')

In [79]:
selenium_tutorial=driver.find_element_by_xpath('/html/body/div[2]/section[4]/div/div/div/div/div/div/div/div[1]/div/ul[1]/li[3]/a')
selenium_tutorial.click()

In [80]:
exception=driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a')
exception.click()

In [85]:
table=driver.find_elements_by_xpath('//table[@class="table table-striped"]//td')

In [97]:
name=[]
description=[]
for i in range(2,len(table)):
    if i%2==0:
        name.append(table[i].text)
    else:
        description.append(table[i].text)
    
Data=pd.DataFrame({'Exception Name':(name),
                  'Description':(description)})
Data

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4.  Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/

In [282]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
import pandas as pd
import time
driver=webdriver.Chrome('chromedriver.exe')
driver.get('http://statisticstimes.com')

In [283]:
#clicking on economy button
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
time.sleep(2)

In [284]:
#clicking on gdp of indian states
indian_states=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")
try:
    indian_states.click()
except ElementNotInteractableException:
    driver.get(indian_states.get_attribute('href')) 
time.sleep(2)

In [285]:
info=driver.find_elements_by_xpath('//table[@class="display dataTable"]//td')

In [286]:
rank=[]
state=[]
gsdp1920=[]
gsdp1819=[]
share1819=[]
gdp=[]
for i in range(33):
    rank.append(info[8*i].text)
    state.append(info[8*i+1].text)
    gsdp1920.append(info[8*i+2].text)
    gsdp1819.append(info[8*i+3].text)
    share1819.append(info[8*i+4].text)
    gdp.append(info[8*i+5].text)
    
Data=pd.DataFrame({'Rank':(rank),
                  'State':(state),
                  'GSDP (19-20)':(gsdp1920),
                  'GSDP (18-19)':(gsdp1819),
                  'Share (18-19)':(share1819),
                  'GDP':gdp})
Data

,Rank,State,GSDP (19-20),GSDP (18-19),Share (18-19),GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [100]:
economy=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [114]:
india=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')

In [117]:
link=india.get_attribute('href')
driver.get(link)

In [127]:
ele=driver.find_element_by_xpath('/html/body/div[7]/a')

In [130]:
ele.click()

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=92.0.4515.107)

# 5.  Scrape the details of trending repositories on Github.com. Url = https://github.com/

In [131]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time
driver=webdriver.Chrome('chromedriver.exe')
driver.get(' https://github.com')

In [132]:
explore=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()

In [136]:
trending=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
driver.get(trending.get_attribute('href'))

In [183]:
repo=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]//a')

In [184]:
title=[]
link=[]
for i in  range(0,len(repo)):
    str=repo[i].text
    x=str.find('/')
    title.append(str[x+2:])
    link.append(repo[i].get_attribute('href'))

In [231]:
description=[]
contributor=[]
language=[]
for i in link:
    driver.get(i)
    time.sleep(2)
    
    try:
        desc=driver.find_element_by_xpath('//p[@class="f4 mt-3"]')
        description.append(desc.text)
    except NoSuchElementException:
        description.append('-')
        
    lang=driver.find_elements_by_xpath('//a[@class="d-inline-flex flex-items-center flex-nowrap Link--secondary no-underline text-small mr-3"]//span')
    str=''
    for j in range(0,len(lang)):
        if j%2==0:
            str=str+lang[j].text+','

    language.append(str)
    
    try:
        cont=driver.find_elements_by_xpath('//h2[@class="h4 mb-3"]//span')
        x=len(cont)
        if x==0:
            contributor.append('0')
        else:
            contributor.append(cont[-1].text)
    except NoSuchElementException:
        contributor.append('-')

In [232]:
Data=pd.DataFrame({'Repository Title':(title),
                  'Repository Description':(description),
                  'Contributor Count':(contributor),
                  'Language Used':(language)})
Data

,Repository Title,Repository Description,Contributor Count,Language Used
0,mitmproxy,An interactive TLS-capable intercepting HTTP p...,348,"Python,JavaScript,Less,HTML,CSS,Shell,"
1,voicevox,-,4,"TypeScript,Vue,JavaScript,"
2,lkmpg,The Linux Kernel Module Programming Guide (upd...,11,"TeX,Makefile,"
3,dataease,人人可用的开源数据可视化分析工具。,9,"Java,Vue,PLpgSQL,JavaScript,CSS,HTML,"
4,droidlet,A modular embodied agent architecture and plat...,17,"Jupyter Notebook,Python,JavaScript,HTML,C++,Sh..."
5,openpilot,openpilot is an open source driver assistance ...,209,"C++,C,Python,Shell,Perl,MATLAB,"
6,org-roam-ui,A graphical frontend for exploring your org-ro...,4,"JavaScript,TypeScript,"
7,apollo-client,"🚀 A fully-featured, production ready caching ...",618,"TypeScript,JavaScript,"
8,axum,Ergonomic and modular web framework built with...,9,"Rust,"
9,Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",82,"JavaScript,HTML,CSS,Vue,"
10,modern-unix,A collection of modern/faster/saner alternativ...,9,
11,awesome-for-beginners,A list of awesome beginners-friendly projects.,260,
12,free,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/v2ray/trojan节点、蓝...,0,
13,electron,Build cross-platform desktop apps with JavaScr...,"1,060","C++,TypeScript,JavaScript,Objective-C++,HTML,P..."
14,hello-algorithm,🌍 针对小白的算法训练 | 包括四部分：①.算法基础 ②.力扣图解 ③.大厂面经 ④.CS_...,6,"Java,"
15,jvm,🤗 JVM 底层原理最全知识总结,7,"Java,JavaScript,"
16,cbtracker,Please do not use this tracker to scam anyone!...,8,"JavaScript,CSS,"
17,AutoRecon,AutoRecon is a multi-threaded network reconnai...,9,"Python,Dockerfile,"
18,Mindustry,A sandbox tower defense game,376,"Java,"
19,software-architecture-books,A comprehensive list of books on Software Arch...,4,
20,alertmanager,Prometheus Alertmanager,223,"Go,Elm,HTML,Makefile,CSS,Shell,Dockerfile,"
21,bytebase,"Web-based, zero-config, dependency-free databa...",3,"Vue,Go,TypeScript,JavaScript,CSS,Shell,"
22,SDRPlusPlus,Cross-Platform SDR Software,18,"C++,C,CMake,Shell,PowerShell,Objective-C,"
23,ML-For-Beginners,"12 weeks, 25 lessons, 50 quizzes, classic Mach...",50,"Jupyter Notebook,"
24,daisyui,⭐️ ⭐️ ⭐️ ⭐️ ⭐️ Tailwind Components,8,"Vue,CSS,JavaScript,"

# 6.  Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/

In [239]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.billboard.com')

In [241]:
hot100=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a')
driver.get(hot100.get_attribute('href'))

In [263]:
rank_ele=driver.find_elements_by_xpath('//span[@class="chart-element__rank__number"]')
song_ele=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
artist_ele=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
lastweek_ele=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
peak_ele=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
week_ele=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')

In [267]:
rank=[]
song=[]
artist=[]
lastweek=[]
peak=[]
week=[]

for i in range(0,len(rank_ele)):
    rank.append(rank_ele[i].text)
    song.append(song_ele[i].text)
    artist.append(artist_ele[i].text)
    lastweek.append(lastweek_ele[i].text)
    peak.append(peak_ele[i].text)
    week.append(week_ele[i].text)
    
Data=pd.DataFrame({'Rank':(rank),
                  'Song Name':(song),
                  'Artist Name':(artist),
                  'Last Week Rank':(lastweek),
                  'Peak Rank':(peak),
                  'Weeks on Board':(week)})
Data

,Rank,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,1,Butter,BTS,1,1,10
1,2,Industry Baby,Lil Nas X & Jack Harlow,-,2,1
2,3,Good 4 U,Olivia Rodrigo,2,1,11
3,4,Stay,The Kid LAROI & Justin Bieber,4,3,3
4,5,Levitating,Dua Lipa Featuring DaBaby,3,2,43
...,...,...,...,...,...,...
95,96,Minimum Wage,Blake Shelton,83,67,12
96,97,Working,Tate McRae X Khalid,-,88,5
97,98,Holy Smokes,Trippie Redd Featuring Lil Uzi Vert,50,50,2
98,99,WUSYANAME,"Tyler, The Creator Featuring YoungBoy Never Br...",91,14,5
99,100,Still Chose You,The Kid LAROI Featuring Mustard,-,100,1

# 7.  Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/

In [23]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.naukri.com')

In [24]:
recruiter=driver.find_element_by_xpath('//a[@title="Search Recruiters"]')
link=recruiter.get_attribute('href')
driver.get(link)

In [25]:
search=driver.find_element_by_xpath('//input[@class="sugInp"]')
search.send_keys("Data Science")

In [26]:
drop_down=driver.find_element_by_xpath('//div[@class="Sbtn"]')
drop_down.click()

In [27]:
search_button=driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
search_button.click()

In [105]:
info=driver.find_elements_by_xpath('//p[@class="highlightable"]')
skills_ele=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')

In [108]:
name=[]
company=[]
designation=[]
skills=[]
location=[]

for i in range(0,len(skills_ele)):
    str=info[i].text
    x=str.find('\n')
    name.append(str[:x])
    str=str.replace(str[:x+1],' ')
    x=str.find('\n')
    designation.append(str[0:x])
    str=str.replace(str[0:x+1],' ')
    x=str.find('\n')
    if x==-1:
        company.append(str)
        location.append('-')
    else:
        company.append(str[0:x])
        str=str.replace(str[0:x+1],' ')
        location.append(str[1:])
    skills.append(skills_ele[i].text)
        
Data=pd.DataFrame({'Name':(name),
                  'Designation':(designation),
                  'Company':(company),
                  'Skills':(skills),
                  'Location':(location)})
Data

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,Pune,"Data Science, Artificial Intelligence, Machine...",-
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
33,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-

# 8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

In [112]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [115]:
table=driver.find_elements_by_xpath('//table[@class="in-article sortable"]//td')

In [128]:
table.pop(0)

In [141]:
rank=[]
book=[]
author=[]
sold=[]
publisher=[]
genre=[]
for i in range(100):
    rank.append(table[6*i].text)
    book.append(table[6*i+1].text)
    author.append(table[6*i+2].text)
    sold.append(table[6*i+3].text)
    publisher.append(table[6*i+4].text)
    genre.append(table[6*i+5].text)
    
Data=pd.DataFrame({'Rank':(rank),
                  'Book Name':(book),
                  'Author Name':(author),
                  'Volumes Sold':(sold),
                  'Publisher':(publisher),
                  'Genre':(genre)})
Data

,Rank,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. Url =  https://www.imdb.com/list/ls095964455/

In [142]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.imdb.com/list/ls095964455')

In [171]:
rank_ele=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//span[1]')
name_ele=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//a')
year_ele=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//span[2]')
genre_ele=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[5]')
runtime_ele=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[3]')
rating_ele=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]//span[2]')
votes_ele=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[2]')

In [173]:
rank=[]
name=[]
year=[]
genre=[]
runtime=[]
rating=[]
votes=[]

for i in range(100):
    rank.append(rank_ele[i].text)
    name.append(name_ele[i].text)
    year.append(year_ele[i].text)
    genre.append(genre_ele[i].text)
    runtime.append(runtime_ele[i].text)
    rating.append(rating_ele[i].text)
    votes.append(votes_ele[2*i+1].text)
    
Data=pd.DataFrame({'Rank':(rank),
                  'Name':(name),
                 'Year Span':(year),
                 'Genre':(genre),
                  'Runtime':(runtime),
                  'Ratings':(rating),
                  'Votes':(votes)})

Data

,Rank,Name,Year Span,Genre,Runtime,Ratings,Votes
0,1.,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,848,399"
1,2.,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"885,910"
2,3.,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"885,834"
3,4.,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,405"
4,5.,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,968"
...,...,...,...,...,...,...,...
95,96.,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,045"
96,97.,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,754"
97,98.,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,811"
98,99.,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,664"
99,100.,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"195,125"

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/

In [174]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://archive.ics.uci.edu')

In [180]:
dataset=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
driver.get(dataset.get_attribute('href'))

In [232]:
info=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td')

In [238]:
del info[0:7]

In [241]:
dataset=[]
datatype=[]
task=[]
attributetypes=[]
instances=[]
attributes=[]
year=[]
for i in range(588):
    dataset.append(info[7*i].text)
    datatype.append(info[7*i+1].text)
    task.append(info[7*i+2].text)
    attributetypes.append(info[7*i+3].text)
    instances.append(info[7*i+4].text)
    attributes.append(info[7*i+5].text)
    year.append(info[7*i+6].text)
    
Data=pd.DataFrame({'Data Set Name':(dataset),
                  'Data Types':(datatype),
                  'Default Task':(task),
                  'Attribute Types':(attributetypes),
                  'No. of Instances':(instances),
                  'No. of Attributes':(attributes),
                  'Year':(year)})

Data

,Data Set Name,Data Types,Default Task,Attribute Types,No. of Instances,No. of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021