In [1]:
from bs4 import BeautifulSoup
import requests

# 1. Write a python program to display all the header tags from  ‘en.wikipedia.org/wiki/Main_Page’.

In [2]:
page1=requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup1=BeautifulSoup(page1.content)
all_header=soup1.find_all(['h1','h2','h3'])
header=[]
for i in all_header:
    header.append(i.text.strip())
header

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

# Download IMDB's Top 100 data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 100):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    
    place = movie[:len(str(index))-(len(movie))]
    data = {"Ranking": place,
            "Movie Name": title,
            "IMDB Rating": ratings[index],
            "Year of Release": year,}
    imdb.append(data)
    
Top100=pd.DataFrame(imdb)

In [2]:
Top100

,Ranking,Movie Name,IMDB Rating,Year of Release
0,1,The Shawshank Redemption,9.219917983034774,1994
1,2,The Godfather,9.147522087344743,1972
2,3,The Godfather: Part II,8.980036571991164,1974
3,4,The Dark Knight,8.97042495058285,2008
4,5,12 Angry Men,8.935610935003025,1957
...,...,...,...,...
95,96,Jagten,8.261607244300963,2012
96,97,Idi i smotri,8.259166280424893,1985
97,98,Singin' in the Rain,8.258044308095322,1952
98,99,North by Northwest,8.257920800406175,1959
99,10,Eternal Sunshine of the Spotless Mind,8.256638228383022,2004

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data  frame.

In [3]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

# Download IMDB's Top 100 data
url = 'https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2e9dfa9b-3e4d-4d39-acd2-8af11f252a59&pf_rd_r=MQQM8QJ9QAJYPDXRT27W&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 100):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    
    place = movie[:len(str(index))-(len(movie))]
    data = {"Ranking": place,
            "Movie Name": title,
            "IMDB Rating": ratings[index],
            "Year of Release": year,}
    imdb.append(data)
    
Top100=pd.DataFrame(imdb)

In [4]:
Top100

   Ranking                Movie Name        IMDB Rating Year of Release
0        1           Pather Panchali  8.493820190501882            1955
1        2                   Nayakan  8.486669178421991            1987
2        3         Pariyerum Perumal  8.479273838756345            2018
3        4                Anbe Sivam  8.476217920201057            2003
4        5                   Golmaal  8.464073507283429            1979
..     ...                       ...                ...             ...
95      96           Andaz Apna Apna  8.067416268129461            1994
96      97  Uri: The Surgical Strike  8.065191518615428            2018
97      98                 Virumandi   8.06468983121663            2004
98      99                        PK   8.06315275373078            2014
99      10                     Lucia  8.055525789928502            2013

[100 rows x 4 columns]

# 4. Write  a  python  program  to  scrap  book  name,  author  name,  genre  and  book  review  of  any  5  books  from ‘www.bookpage.com’

# 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to  scrape: i)  Top 10 ODI teams in men’s cricket along with the records for matches, points and  rating.

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
url = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup=BeautifulSoup(url.content)

banner_pos=soup.find('td',class_='rankings-block__banner--pos')
banner_team=soup.find('td',class_='rankings-block__banner--team-name')
banner_matches=soup.find('td',class_='rankings-block__banner--matches')
banner_points=soup.find('td', class_='rankings-block__banner--points')
banner_rating=soup.find('td',class_='rankings-block__banner--rating u-text-right')

ranking=[]
team=[]
matches=[]
points=[]
team_rating=[]

ranking.append(banner_pos.text.replace('\n',''))
team.append(banner_team.text.replace('\n',' '))
matches.append(banner_matches.text.replace('\n',' '))
team_rating.append(banner_rating.text.replace('\n',' '))
points.append(banner_points.text.replace('\n',' '))

pos=soup.find_all('td',class_='table-body__cell table-body__cell--position u-text-right')
country=soup.find_all('td',class_='table-body__cell rankings-table__team')
matches_points=soup.find_all('td',class_='table-body__cell u-center-text')
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")

for i in range(18):
    if i%2==0:
        matches.append(matches_points[i].text)
    if i%2==1:
        points.append(matches_points[i].text)
        
for i in range(9):
    ranking.append(pos[i].text.replace('\n',' '))
    team.append(country[i].text.replace('\n',' '))
    team_rating.append(rating[i].text.replace('\n',' '))
        
Top10_ODI=pd.DataFrame({'Ranking':(ranking),
                       'Team':(team),
                       'Matches':(matches),
                       'Points':(points),
                       'Rating':(team_rating)})

In [6]:
Top10_ODI

,Ranking,Team,Matches,Points,Rating
0,1,New Zealand NZ,17,"2,054",121 ...
1,2,Australia AUS,25,"2,945",118
2,3,India IND,29,"3,344",115
3,4,England ENG,27,"3,100",115
4,5,South Africa SA,20,"2,137",107
5,6,Pakistan PAK,24,"2,323",97
6,7,Bangladesh BAN,27,"2,438",90
7,8,West Indies WI,27,"2,222",82
8,9,Sri Lanka SL,24,"1,876",78
9,10,Afghanistan AFG,17,"1,054",62

# Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: ii)  Top 10 ODI Batsmen in men along with the records of their team and  rating.

In [8]:
url = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup=BeautifulSoup(url.content)

banner_pos=soup.find('div', class_="rankings-block__banner--pos")
banner_player=soup.find('div', class_="rankings-block__banner--name")
player_name.append(banner_player.text.replace('[',''))

banner_nationality=soup.find('div', class_="rankings-block__banner--nationality")

str=banner_nationality.text.replace('\n','')

banner_team = ''
banner_rating=''

for i in str:
    if i.isalpha():
        banner_team += i
    
    if i.isdigit():
        banner_rating += i


position=soup.find_all('td',class_="table-body__cell table-body__cell--position u-text-right")
player=soup.find_all('td',class_='table-body__cell name')
country=soup.find_all('td', class_="table-body__cell nationality-logo")
rating=soup.find_all('td', class_="table-body__cell u-text-right rating")

ranking=[]
player_name=[]
team=[]
player_rating=[]

ranking.append(banner_pos.text.replace('\n',''))
player_name.append(banner_player.text)
team.append(banner_team)
player_rating.append(banner_rating)

for i in range(9):
    ranking.append(position[i].text.replace('\n',''))
    player_name.append(player[i].text.replace('\n',''))
    team.append(country[i].text.replace('\n',''))
    player_rating.append(rating[i].text)
        
Top10_ODIBatsman=pd.DataFrame({'Ranking':(ranking),
                               'Player':(player_name),
                               'Team':(team),
                               'Rating':(player_rating)})

Top10_ODIBatsman

,Ranking,Player,Team,Rating
0,1,Babar Azam,PAK,865
1,2,Virat Kohli,IND,857
2,3,Rohit Sharma,IND,825
3,4,Ross Taylor,NZ,801
4,5,Aaron Finch,AUS,791
5,6,Jonny Bairstow,ENG,785
6,7,Fakhar Zaman,PAK,778
7,,Francois du Plessis,SA,778
8,9,David Warner,AUS,773
9,,Shai Hope,WI,773

# 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: iii)  Top 10 ODI bowlers along with the records of their team and  rating.

In [9]:
url = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup=BeautifulSoup(url.content)

top_position=soup.find_all('div', class_="rankings-block__banner--pos")
top_player=soup.find_all('div', class_="rankings-block__banner--name")
top_nationality=soup.find_all('div', class_="rankings-block__banner--nationality")

banner_position=top_position[1].text.replace('\n','')
banner_player=top_player[1].text.replace('\n','')
str=top_nationality[1].text.replace('\n','')

banner_team = ''
banner_rating=''

for i in str:
    if i.isalpha():
        banner_team += i
    
    if i.isdigit():
        banner_rating += i


position=soup.find_all('td',class_="table-body__cell table-body__cell--position u-text-right")
player=soup.find_all('td',class_='table-body__cell name')
country=soup.find_all('td', class_="table-body__cell nationality-logo")
rating=soup.find_all('td', class_="table-body__cell u-text-right rating")

ranking=[]
player_name=[]
team=[]
player_rating=[]

ranking.append(banner_position)
player_name.append(banner_player)
team.append(banner_team)
player_rating.append(banner_rating)

for i in range(9,18):
    ranking.append(position[i].text.replace('\n',''))
    player_name.append(player[i].text.replace('\n',''))
    team.append(country[i].text.replace('\n',''))
    player_rating.append(rating[i].text)
        
Top10_ODIBowler=pd.DataFrame({'Ranking':(ranking),
                               'Player':(player_name),
                               'Team':(team),
                               'Rating':(player_rating)})

Top10_ODIBowler

,Ranking,Player,Team,Rating
0,1,Trent Boult,NZ,737
1,2,Mehedi Hasan,BAN,713
2,3,Mujeeb Ur Rahman,AFG,708
3,4,Matt Henry,NZ,691
4,5,Jasprit Bumrah,IND,690
5,6,Kagiso Rabada,SA,666
6,7,Chris Woakes,ENG,665
7,8,Josh Hazlewood,AUS,660
8,9,Pat Cummins,AUS,646
9,10,Mustafizur Rahman,BAN,645

# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: i)  Top 10 ODI teams in women’s cricket along with the records for matches, points and  rating.

In [12]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
url = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup=BeautifulSoup(url.content)

banner_pos=soup.find('td',class_='rankings-block__banner--pos')
banner_team=soup.find('td',class_='rankings-block__banner--team-name')
banner_matches=soup.find('td',class_='rankings-block__banner--matches')
banner_points=soup.find('td', class_='rankings-block__banner--points')
banner_rating=soup.find('td',class_='rankings-block__banner--rating u-text-right')

ranking=[]
team=[]
matches=[]
points=[]
team_rating=[]

ranking.append(banner_pos.text.replace('\n',''))
team.append(banner_team.text.replace('\n',' '))
matches.append(banner_matches.text.replace('\n',' '))
team_rating.append(banner_rating.text.replace('\n',' '))
points.append(banner_points.text.replace('\n',' '))

pos=soup.find_all('td',class_='table-body__cell table-body__cell--position u-text-right')
country=soup.find_all('td',class_='table-body__cell rankings-table__team')
matches_points=soup.find_all('td',class_='table-body__cell u-center-text')
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")

for i in range(18):
    if i%2==0:
        matches.append(matches_points[i].text)
    if i%2==1:
        points.append(matches_points[i].text)
        
for i in range(9):
    ranking.append(pos[i].text.replace('\n',' '))
    team.append(country[i].text.replace('\n',' '))
    team_rating.append(rating[i].text.replace('\n',' '))
        
Top10_ODI_Women=pd.DataFrame({'Ranking':(ranking),
                       'Team':(team),
                       'Matches':(matches),
                       'Points':(points),
                       'Rating':(team_rating)})
Top10_ODI_Women

,Ranking,Team,Matches,Points,Rating
0,1,Australia AUS,18,"2,955",164 ...
1,2,South Africa SA,24,"2,828",118
2,3,England ENG,17,"1,993",117
3,4,India IND,20,"2,226",111
4,5,New Zealand NZ,21,"1,947",93
5,6,West Indies WI,12,"1,025",85
6,7,Pakistan PAK,15,"1,101",73
7,8,Bangladesh BAN,5,306,61
8,9,Sri Lanka SL,11,519,47
9,10,Ireland IRE,2,25,13

# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: ii)  Top 10 women’s ODI players along with the records of their team and  rating.

In [13]:
url = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup=BeautifulSoup(url.content)

banner_pos=soup.find('div', class_="rankings-block__banner--pos")
banner_player=soup.find('div', class_="rankings-block__banner--name")
player_name.append(banner_player.text.replace('[',''))

banner_nationality=soup.find('div', class_="rankings-block__banner--nationality")

str=banner_nationality.text.replace('\n','')

banner_team = ''
banner_rating=''

for i in str:
    if i.isalpha():
        banner_team += i
    
    if i.isdigit():
        banner_rating += i


position=soup.find_all('td',class_="table-body__cell table-body__cell--position u-text-right")
player=soup.find_all('td',class_='table-body__cell name')
country=soup.find_all('td', class_="table-body__cell nationality-logo")
rating=soup.find_all('td', class_="table-body__cell u-text-right rating")

ranking=[]
player_name=[]
team=[]
player_rating=[]

ranking.append(banner_pos.text.replace('\n',''))
player_name.append(banner_player.text)
team.append(banner_team)
player_rating.append(banner_rating)

for i in range(9):
    ranking.append(position[i].text.replace('\n',''))
    player_name.append(player[i].text.replace('\n',''))
    team.append(country[i].text.replace('\n',''))
    player_rating.append(rating[i].text)
        
Top10_ODI_Batswoman=pd.DataFrame({'Ranking':(ranking),
                               'Player':(player_name),
                               'Team':(team),
                               'Rating':(player_rating)})

Top10_ODI_Batswoman

,Ranking,Player,Team,Rating
0,1,Tammy Beaumont,ENG,765
1,2,Lizelle Lee,SA,758
2,3,Alyssa Healy,AUS,756
3,4,Stafanie Taylor,WI,746
4,5,Meg Lanning,AUS,723
5,6,Amy Satterthwaite,NZ,715
6,7,Smriti Mandhana,IND,710
7,8,Mithali Raj,IND,709
8,9 T...,Natalie Sciver,ENG,685
9,10 ...,Laura Wolvaardt,SA,683

# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: iii)  Top 10 women’s ODI all-rounder along with the records of their team and  rating.

In [14]:
url = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup=BeautifulSoup(url.content)

top_position=soup.find_all('div', class_="rankings-block__banner--pos")
top_player=soup.find_all('div', class_="rankings-block__banner--name")
top_nationality=soup.find_all('div', class_="rankings-block__banner--nationality")

banner_position=top_position[2].text.replace('\n','')
banner_player=top_player[2].text.replace('\n','')
str=top_nationality[2].text.replace('\n','')

banner_team = ''
banner_rating=''

for i in str:
    if i.isalpha():
        banner_team += i
    
    if i.isdigit():
        banner_rating += i


position=soup.find_all('td',class_="table-body__cell table-body__cell--position u-text-right")
player=soup.find_all('td',class_='table-body__cell name')
country=soup.find_all('td', class_="table-body__cell nationality-logo")
rating=soup.find_all('td', class_="table-body__cell u-text-right rating")

ranking=[]
player_name=[]
team=[]
player_rating=[]

ranking.append(banner_position)
player_name.append(banner_player)
team.append(banner_team)
player_rating.append(banner_rating)

for i in range(18,27):
    ranking.append(position[i].text.replace('\n',''))
    player_name.append(player[i].text.replace('\n',''))
    team.append(country[i].text.replace('\n',''))
    player_rating.append(rating[i].text)
        
Top10_ODI_Women_Allrounder=pd.DataFrame({'Ranking':(ranking),
                               'Player':(player_name),
                               'Team':(team),
                               'Rating':(player_rating)})

Top10_ODI_Women_Allrounder

,Ranking,Player,Team,Rating
0,1 This player h...,Marizanne Kapp,SA,418
1,...,Ellyse Perry,AUS,418
2,3,Stafanie Taylor,WI,410
3,4,Natalie Sciver,ENG,349
4,5,Deepti Sharma,IND,343
5,6,Jess Jonassen,AUS,307
6,7,Ashleigh Gardner,AUS,252
7,8 T...,Dane van Niekerk,SA,243
8,9 T...,Sophie Devine,NZ,242
9,10 ...,Amelia Kerr,NZ,236

# 8. Write  a  python  program to  extract information  about  the local  weather from the  National Weather  Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended  forecast  display  for  the  city.  The  data  should  include  period,  short  description,  temperature  and description.

In [15]:
page = requests.get("http://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168")
soup = BeautifulSoup(page.content, 'html.parser')
seven_day = soup.find(id="seven-day-forecast")
forecast_items = seven_day.find_all(class_="tombstone-container")
tonight = forecast_items[0]
#print(tonight.prettify())

period=tonight.find(class_='period-name').get_text()
short_desc=tonight.find(class_='short-desc').get_text()
temp=tonight.find(class_='temp').get_text()

img = tonight.find("img")
desc = img['title']

period_tags=seven_day.select('.tombstone-container .period-name')
periods=[pt.get_text() for pt in period_tags]

short_descs = [sd.get_text() for sd in seven_day.select(".tombstone-container .short-desc")]
temps = [t.get_text() for t in seven_day.select(".tombstone-container .temp")]
descs = [d["title"] for d in seven_day.select(".tombstone-container img")]

weather = pd.DataFrame({
        "period": periods,
         "short_desc": short_descs,
         "temp": temps,
         "desc":descs
    })
weather

,period,short_desc,temp,desc
0,ThisAfternoon,Sunny andBreezy,High: 69 °F,"This Afternoon: Sunny, with a high near 69. Br..."
1,Tonight,IncreasingClouds,Low: 56 °F,"Tonight: Increasing clouds, with a low around ..."
2,Monday,Partly Sunnythen Sunnyand Breezy,High: 69 °F,"Monday: Mostly cloudy, then gradually becoming..."
3,MondayNight,Partly Cloudyand Breezythen MostlyCloudy,Low: 58 °F,"Monday Night: Increasing clouds, with a low ar..."
4,Tuesday,Partly Sunnythen Sunnyand Breezy,High: 69 °F,"Tuesday: Mostly sunny, with a high near 69. Br..."
5,TuesdayNight,Mostly Clearand Breezythen MostlyCloudy,Low: 57 °F,"Tuesday Night: Partly cloudy, with a low aroun..."
6,Wednesday,Mostly Sunny,High: 68 °F,"Wednesday: Mostly sunny, with a high near 68."
7,WednesdayNight,Partly Cloudy,Low: 56 °F,"Wednesday Night: Partly cloudy, with a low aro..."
8,Thursday,Mostly Sunny,High: 69 °F,"Thursday: Mostly sunny, with a high near 69."

# 9. Write a python program to  scrape fresher job  listings from  ‘https://internshala.com/’. It should  include job  title,  company name, CTC, and apply date.

In [16]:
page = requests.get('https://internshala.com/fresher-jobs')
soup=BeautifulSoup(page.content)
titles=soup.find_all('div',class_='heading_4_5 profile')
companies=soup.find_all('div',class_="heading_6 company_name")
details=soup.find_all('div',class_='item_body')

jt=[]
company=[]
salary=[]
apply_date=[]

for i in range(len(titles)):
    jt.append(titles[i].text.replace('\n',''))
    company.append(companies[i].text.strip())
    salary.append(details[3*i+1].text.replace('\n',''))
    apply_date.append(details[3*i+2].text)
    
Jobs=pd.DataFrame({'Job Title':(jt),
                  'Company Name':(company),
                  'CTC':(salary),
                  'Apply Date':(apply_date)})
Jobs

,Job Title,Company Name,CTC,Apply Date
0,Web Developer,Manufac Analytics Private Limited,3 - 4 LPA ...,19 Jul' 21
1,Software Engineer Trainee,Swabhav Techlabs,3 - 3.5 LPA ...,19 Jul' 21
2,Business Development Specialist (Sales & Marke...,Claraeon Learning Private Limited,3 LPA ...,19 Jul' 21
3,Business Development Executive,Picostone,3 - 6.5 LPA ...,19 Jul' 21
4,Associate Front End Developer,AIMonk Labs Technology Limited,6 - 7 LPA ...,18 Jul' 21
5,Corporate Sales Executive,369 Zoss Waters,3 - 5 LPA ...,18 Jul' 21
6,Associate Software Developer (Full-Stack - Rea...,SleekSky LLC,4 LPA ...,18 Jul' 21
7,Customer Relationship Specialist,InPhase Power Technologies,3 - 3.5 LPA ...,18 Jul' 21
8,Associate Editor Engagement,Cactus Communications Private Limited,3 - 4 LPA ...,18 Jul' 21
9,Management Consultant Associate,StrategyCo.Global,4.5 - 7 LPA ...,18 Jul' 21
10,Web Analytics Developer,DataVinci Private Limited,4.99 - 5 LPA ...,17 Jul' 21
11,Junior Social Media Marketing Manager,The Test Tribe,3 - 4 LPA ...,17 Jul' 21
12,Junior Social Media Marketing Associate,Glu Studios,3 - 3.6 LPA ...,17 Jul' 21
13,Business Development Manager (Digital Marketin...,Graygraph Technologies LLC,3 - 4.5 LPA ...,17 Jul' 21
14,Business Development Executive,BookLeaf Publishing,3 - 3.6 LPA ...,17 Jul' 21
15,Accountant,Ravi Ladia & Co,3 LPA ...,16 Jul' 21
16,Research Associate,Market Vistas Consumer Insights,3 - 3.25 LPA ...,17 Jul' 21
17,Assistant Coordinator - Tender Department,Global Source Trading LLC,3 LPA ...,16 Jul' 21
18,Customer Relationship Manager (Publishing Cons...,Blue Rose Publishers,3 - 3.5 LPA ...,16 Jul' 21
19,Executive Assistant To Director,Best Roadways Limited,3 LPA ...,17 Jul' 21
20,Learning Consultant - Sales,Geekster,3 - 3.5 LPA ...,16 Jul' 21
21,School/Teacher Consultant,InfyBytes AI Labs Private Limited,3 - 4 LPA ...,16 Jul' 21
22,Junior Recruiter,Radish Consultants Private Limited,3 - 5 LPA ...,16 Jul' 21
23,Software Developer,Moxie.xyz,9 LPA ...,15 Jul' 21
24,Business Development Executive (Inside Sales),GREedge,3.75 LPA ...,15 Jul' 21
25,Web Developer,Fullmoon Outdoor Web Solutions,4 - 4.2 LPA ...,15 Jul' 21
26,Order Processor,InspectHOA,3 LPA ...,14 Jul' 21
27,Full Stack Developer,Nikulsan Technologies Private Limited,3.5 - 5 LPA ...,14 Jul' 21
28,Associate Software Developer,IQGateway,3.6 - 10 LPA ...,11 Jul' 21
29,Reactjs Developer,Startxlabs Technologies Private Limited,3 - 4 LPA ...,11 Jul' 21
30,Full Stack Developer,RavGins International Private Limited (Wobb.ai),3.3 - 4 LPA ...,11 Jul' 21
31,Business Development Executive,Varenyam Placements,3 - 4 LPA ...,11 Jul' 21
32,Corporate Sales Associate,HealthPlix Technologies Private Limited,3 - 4 LPA ...,11 Jul' 21
33,Inside Sales Associate,Wizklub Learning,3 - 6 LPA ...,11 Jul' 21
34,Mobile App Developer,Fusion Engineering,4.5 - 5.25 LPA ...,14 Jul' 21
35,Junior MERN Stack Developer,DeepThought Edutech Ventures Private Limited,3 - 5 LPA ...,15 Jul' 21
36,Education Innovation Manager,DeepThought Edutech Ventures Private Limited,3 - 5 LPA ...,10 Jul' 21
37,General Management Associate,Redwood Algorithms,4 - 5 LPA ...,10 Jul' 21
38,Content & E-commerce Management Trainee,Blooprint Ecom Consulting,3 LPA ...,9 Jul' 21
39,Software Engineer,QuikieApps,3 - 4 LPA ...,9 Jul' 21

# 10. Write a python program to scrape house details  from mentioned url. It should include house title, location,  area, emi and price https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0"

In [17]:
url = requests.get('https://www.nobroker.in/property/sale/bangalore/Electronic%20City?searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&radius=2.0')
soup=BeautifulSoup(url.content)

titles=soup.find_all('a',class_='nb__3CnI6')
loc=soup.find_all('div',class_="nb__35Ol7")
details=soup.find_all('div',class_='font-semi-bold heading-6')
#area=soup.find_all('div',class_='nb__3oNyC')
#EMI=soup.find_all('div',class_='nb__2NPHR')

house=[]
location=[]
area=[]
EMI=[]
price=[]

for i in range(len(titles)):
    house.append(titles[i].text)
    location.append(loc[i].text)
    area.append(details[3*i].text)
    EMI.append(details[3*i+1].text)
    price.append(details[3*i+2].text)
    
Property=pd.DataFrame({'House Title':(house),
                  'Location':(location),
                  'Area':(area),
                  'EMI':(EMI),
                    'Price':(price)})
Property

,House Title,Location,Area,EMI,Price
0,"2 BHK Flat For Sale In Purnima Elite, Electr...","Purnima Elite, Phase 1, Kammasandra, Electroni...",995 sqft,"₹23,498/Month",₹41 Lacs
1,2 BHK Apartment For Sale In Icon Happy Livin...,Icon Happy Living Opp Hebagodi Metro station...,765 sqft,"₹24,645/Month",₹43 Lacs
2,2 BHK Apartment For Sale In Gm Infinite E-ci...,Gm Infinite E-City Town GM Infinite ECity tow...,"1,070 sqft","₹33,242/Month",₹58 Lacs
3,3 BHK Apartment For Sale In Mahendra Aarna I...,"Mahendra Aarna Opp Grand Mart Hyper Market, P...","1,380 sqft","₹47,571/Month",₹83 Lacs
4,"3 BHK Flat For Sale In Smondo 2.0, Electroni...","Neotown Road, Electronic City, Electronics Cit...","1,460 sqft","₹41,266/Month",₹72 Lacs
5,2 BHK Apartment For Sale In Ds Sigma Nest In...,"Ds Sigma Nest Gollahalli, Explore Nearby","1,240 sqft","₹31,522/Month",₹55 Lacs
6,3 BHK Flat For Sale In Shobha Silicon Oasis ...,"Central Jail Rd, Chennakeshava Nagar, Hosa Roa...","1,580 sqft","₹80,240/Month",₹1.4 Crores
7,3 BHK Apartment For Sale In Smondo 3.0 In El...,"Smondo 3.0 Neotown Rd, Neotown, Electronic Ci...","1,275 sqft","₹33,242/Month",₹58 Lacs
8,4+ BHK In Independent House For Sale In Bomm...,"Independent House, Bommasandra Indl Area, RK T...","5,400 sqft","₹75,655/Month",₹1.32 Crores
9,3 BHK Apartment For Sale In Abode Breeze Apa...,"Abode Breeze Apartments Kammasandra Rd, RS Ga...","1,326 sqft","₹35,534/Month",₹62 Lacs